# Not finished!

In [2]:
import pandas as pd
import numpy as np

In [119]:
# read in the data
homeownership = pd.read_csv("Homeownership.csv")
neighborhood = pd.read_csv("Neighborhoods.csv")
# check types
print(homeownership.dtypes)
# fix types to be numeric
homeownership['TotalPopulation'] = homeownership['TotalPopulation'].str.replace(',', '').astype(float)
homeownership['OwnedMortgage'] = homeownership['OwnedMortgage'].str.replace(',', '').astype(float)
homeownership['OwnedFree'] = homeownership['OwnedFree'].str.replace(',', '').astype(float)
homeownership['RenterOccupied'] = homeownership['RenterOccupied'].str.replace(',', '').astype(float)
print(homeownership.dtypes)
homeownership.head(10)

Census Tract       float64
TotalPopulation     object
OwnedMortgage       object
OwnedFree           object
RenterOccupied      object
dtype: object
Census Tract       float64
TotalPopulation    float64
OwnedMortgage      float64
OwnedFree          float64
RenterOccupied     float64
dtype: object

   Census Tract  TotalPopulation  OwnedMortgage  OwnedFree  RenterOccupied
0         103.0            588.0           81.0      108.0           399.0
1         201.0           2538.0          304.0      168.0          2066.0
2         203.0            616.0           47.0       13.0           556.0
3         305.0           2140.0          410.0      151.0          1579.0
4         402.0           1345.0          297.0      142.0           906.0
5         404.0           2163.0          244.0      633.0          1286.0
6         405.0           2958.0           92.0      128.0          2738.0
7         406.0           2392.0           63.0      130.0          2199.0
8         409.0           2877.0          591.0      385.0          1901.0
9         501.0           1682.0          337.0      256.0          1089.0

I am going to add OwnedMortgage and OwnedFree columns. Then, I am going to find the census tract(s) with the largest ratio of Owner/Renting. After finding that, I will use the neighborhoods dataset to map the census tract to the neighborhoods.

In [120]:
neighborhood.sample(1)
neighborhood['tractce10'] = neighborhood['tractce10'].str.replace('','').astype(float, errors = 'ignore')

#
#census_tract = neighborhood['tracece10']; # convert to list
census_tract = pd.Series(neighborhood.iloc[:,4])
for i in range(len(census_tract)):
    string = census_tract[i]
    if (string != ''):
        firstChar = string[0]
        if (firstChar == '0'):
            # if the first number (index 0) of the tract is 0, remove that character
            string = string[1:]
        # remove extra zeros
        census_tract[i] = string[0:len(string)-2]
# create data frame and cast strings to float
censusTracts = pd.DataFrame(census_tract).astype(float, errors = 'ignore')
print(censusTracts.dtypes)
censusTracts.sample(10)

tractce10    object
dtype: object

   tractce10
81       203
77       402
34      2107
14      3102
55      1306
19       603
35      9809
31      5624
3        509
13      1014

In [121]:
# add number of houses with mortgage and houses with mortgage payed off
mortgageHolders = homeownership['OwnedMortgage']
houseOwners = homeownership['OwnedFree']
homeOwners = mortgageHolders + houseOwners
# find ratio of renters because renting is associated with short term/transitional housing while owning a house/paying mortgage is
#^ characteristic of people (most likely families) settling down
renters = homeownership['RenterOccupied']
ratioSettled2Renting = homeOwners/renters
ratioSettled2Renting.head(4)

0    0.473684
1    0.228461
2    0.107914
3    0.355288
dtype: float64

In [122]:
# relate back to the census track (create/merge new dataframes)
ratio = pd.DataFrame(ratioSettled2Renting, columns=["Settled/renting"])
census_tracts = pd.DataFrame(homeownership['Census Tract'])
population = pd.DataFrame(homeownership['TotalPopulation'])

df3 = census_tracts.join(ratio).join(population)
df3.head(10)

   Census Tract  Settled/renting  TotalPopulation
0         103.0         0.473684            588.0
1         201.0         0.228461           2538.0
2         203.0         0.107914            616.0
3         305.0         0.355288           2140.0
4         402.0         0.484547           1345.0
5         404.0         0.681960           2163.0
6         405.0         0.080351           2958.0
7         406.0         0.087767           2392.0
8         409.0         0.513414           2877.0
9         501.0         0.544536           1682.0

In [18]:
# sort (we want the census tracts with the highest amount of house owners to renters)
dfsorted = df3.sort_values(by=['Settled/renting'], ascending=False)
# get rid of any tract with less than 1000 people
dfFiltered = dfsorted[dfsorted['TotalPopulation'] >= 500]

dfFiltered.head(10)

     Census Tract  Settled/renting  TotalPopulation
152       4268.00        43.741667           5369.0
244       4753.03        33.151261           4064.0
384       5641.00        32.923077            882.0
122       4100.00        30.648649           1171.0
237       4742.01        28.545455           2600.0
239       4742.03        27.306250           4529.0
125       4120.02        26.331461           4865.0
318       5190.00        23.680328           3011.0
149       4263.00        22.647059           6030.0
130       4134.00        21.978610           4297.0

In [ ]:
# No direct mapping from community neighborhoods to census tract. Census tracts follow county neighborhoods.
# Often times one neighborhood may contain many tracts and vice versa.
# The census tract numbers vary the least for regions geographically closest to each other 
#^ for example North, South, West, Central Oakland are 404,409,402,405.

# First get rid of decimal point